<style type="text/css">

*{
font-family: Arial, Verdana, sans-serif;
font-size: 12px
color: black;
}

ol{
list-style-type: square;
}

ul{
background-color: #eee;
border: 1px solid black;
color: black;
font-family: Ariel, Verdana, sans-serif;
font-size: 12px;
font-weight: bold;
height: 100px;
width: 960px;
margin: 6px;
padding: 5px;
}

body{
border: 1px solid black;
color: black;
font-family: Ariel, Verdana, sans-serif;
font-size: 12px
width: 960px;
margin: 6px;
padding: 5px;
}

.left-box{
float: left;
background-color: #eee;
border: 1px solid black;
font-family: Ariel, Verdana, sans-serif;
font-size: 12px;
height: 500px;
margin: 6px;
padding: 5px;
width: 620px;
}

.right-box{
float: left;
font-family: Arial, Verdana, sans-serif;
border: 1px solid black;
height: 500px;
margin: 6px;
padding: 5px;
width: 315px;
}

.click-me-button{
background-color: #C0C0C0;
border: 1px solid black;
display: inline-block;
color: black;
float: right;
border-radius: 4px;
margin: 6px
padding: 5px;
}

.click-me-button:hover{
background-color: white;
font-family: Arial, Verdana, sans-serif;
border: 1px solid black;
color: black;
}

#coming-soon-box{
background-color: #eee;
border: 1px solid black;
height: 250px;
display: flex;
align-items: center;
justify-content: center;
width: 300px;
font-family: Arial, Verdana, sans-serif;
font-weight: bold;

display: none;
}

.img-box{
float: left;
width: 960px;
height: 250px;
border: 1px solid black;
background-color: #eee;
font-family: Arial, Verdana, sans-serif;
font-size: 12px;
margin: 6px;
padding: 5px;
}

footer {
font-family: Arial, Verdana, sans-serif;
font-size: 12px;
border: 1px solid black;
height: 200px;
width: 960px;
background-color: #eee;
overflow: scroll; 
margin: 6px;
padding: 5px;
}

img{
border: 1px solid black;
}

</style>