* {
    font-family: arial, verdana, sans-serif;
    color: black;
}
body {
    max-width: 960px;
    border: 1px solid black;
    margin: 6px;
    padding: 5px;
}
.list {
    word-spacing: 2px;
    background-color: #eee;
    font-size: 12px;
    border: 1px solid black;
    height: 100px;
    margin: 6px;
    padding: 5px;
}
li {
    display: inline;
}
#box-1 {
    background-color: #eee;
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
    margin: 6px;
}
#box-3 {
    background-color: #eee;
    font-size: 12px;
    border: 1px solid black;
    margin: 6px;
    padding: 5px;
}
img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 6px;
}
figcaption {
    margin: 6px;
}
.description {
    text-align: left;
    display: flex;
    vertical-align: center;
    align-items: center;
}
#box-2 {
    border: 1px solid black;
    padding: 5px;
    margin: 6px;
}
#box-4 {
    border: 1px solid black;
    padding: 5px;
    margin: 6px;
    display: none;
}
#box-5 {
    border: 1px solid black;
    padding: 5px;
    margin: 6px;
}
#box-6 {
    border: 1px solid black;
    padding: 5px;
    margin: 6px;
    display: none;
}
footer {
    font-size: 12px;
    border: 1px solid black;
    height: 135px;
    background-color: #eee;
    overflow: scroll; 
    margin: 6px;
    padding: 5px;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
#box-1 {
    height: 540px;
}
#box-2 {
    display: none;
}
#box-5 {
    display: none;
}
#box-6 {
    display: none;
}

.container-1 {
    display: flex;
}

#box-4 {
    float: right;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: left;
}
#box-3 {
    max-width: 66%;
    height: 365px;
    margin: 6px;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
.container-2 {
    display: flex;
}
#box-1 {
    height: 720px;
    width: 85%;
}
#box-2 {
    display: none;
}
#box-5 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-1 {
    display: flex;
}
#box-3 {
    width: 85%;
}
#box-4 {
    display: none;
}
#box-6 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
@media screen and (min-width: 1024px) {
body {
    max-width: 960px;
}
.container-2 {
    display: flex;
}
#box-1 {
    width: 75%;
    height: 720px;
}
#box-2, #box-5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 1000px;
}
#box-3 {
    max-width: 579px;
    position: absolute; 
    top: 878px;
}
#box-4, #box-6{
    display: none;
}
}